<div class="row">
  <div class="col-md-12 text-center">
    <br /> <br />
    <h1>Import from Walmart!</h1>
    <br /> <br />
    <%= form_tag('/submit', method: :post) do %>
      <input type="text" name="url" class="form-control" placeholder="Walmart url...">
      <br /> <br />
      <input class="btn btn-primary" type="submit" />
    <% end %>
    </div>
  </div>
